
/******************                  OTROS ELEMNTOS DEL TEMA                   ****************/

html {
    --mat-sys-on-surface: initial
}

.mat-app-background {
    background-color: var(--mat-app-background-color, var(--mat-sys-background, transparent));
    color: var(--mat-app-text-color, var(--mat-sys-on-background, inherit))
}

.mat-elevation-z0,
.mat-mdc-elevation-specific.mat-elevation-z0 {
    box-shadow: var(--mat-app-elevation-shadow-level-0, none)
}

.mat-elevation-z1,
.mat-mdc-elevation-specific.mat-elevation-z1 {
    box-shadow: var(--mat-app-elevation-shadow-level-1, none)
}

.mat-elevation-z2,
.mat-mdc-elevation-specific.mat-elevation-z2 {
    box-shadow: var(--mat-app-elevation-shadow-level-2, none)
}

.mat-elevation-z3,
.mat-mdc-elevation-specific.mat-elevation-z3 {
    box-shadow: var(--mat-app-elevation-shadow-level-3, none)
}

.mat-elevation-z4,
.mat-mdc-elevation-specific.mat-elevation-z4 {
    box-shadow: var(--mat-app-elevation-shadow-level-4, none)
}

.mat-elevation-z5,
.mat-mdc-elevation-specific.mat-elevation-z5 {
    box-shadow: var(--mat-app-elevation-shadow-level-5, none)
}

.mat-elevation-z6,
.mat-mdc-elevation-specific.mat-elevation-z6 {
    box-shadow: var(--mat-app-elevation-shadow-level-6, none)
}

.mat-elevation-z7,
.mat-mdc-elevation-specific.mat-elevation-z7 {
    box-shadow: var(--mat-app-elevation-shadow-level-7, none)
}

.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow: var(--mat-app-elevation-shadow-level-8, none)
}

.mat-elevation-z9,
.mat-mdc-elevation-specific.mat-elevation-z9 {
    box-shadow: var(--mat-app-elevation-shadow-level-9, none)
}

.mat-elevation-z10,
.mat-mdc-elevation-specific.mat-elevation-z10 {
    box-shadow: var(--mat-app-elevation-shadow-level-10, none)
}

.mat-elevation-z11,
.mat-mdc-elevation-specific.mat-elevation-z11 {
    box-shadow: var(--mat-app-elevation-shadow-level-11, none)
}

.mat-elevation-z12,
.mat-mdc-elevation-specific.mat-elevation-z12 {
    box-shadow: var(--mat-app-elevation-shadow-level-12, none)
}

.mat-elevation-z13,
.mat-mdc-elevation-specific.mat-elevation-z13 {
    box-shadow: var(--mat-app-elevation-shadow-level-13, none)
}

.mat-elevation-z14,
.mat-mdc-elevation-specific.mat-elevation-z14 {
    box-shadow: var(--mat-app-elevation-shadow-level-14, none)
}

.mat-elevation-z15,
.mat-mdc-elevation-specific.mat-elevation-z15 {
    box-shadow: var(--mat-app-elevation-shadow-level-15, none)
}

.mat-elevation-z16,
.mat-mdc-elevation-specific.mat-elevation-z16 {
    box-shadow: var(--mat-app-elevation-shadow-level-16, none)
}

.mat-elevation-z17,
.mat-mdc-elevation-specific.mat-elevation-z17 {
    box-shadow: var(--mat-app-elevation-shadow-level-17, none)
}

.mat-elevation-z18,
.mat-mdc-elevation-specific.mat-elevation-z18 {
    box-shadow: var(--mat-app-elevation-shadow-level-18, none)
}

.mat-elevation-z19,
.mat-mdc-elevation-specific.mat-elevation-z19 {
    box-shadow: var(--mat-app-elevation-shadow-level-19, none)
}

.mat-elevation-z20,
.mat-mdc-elevation-specific.mat-elevation-z20 {
    box-shadow: var(--mat-app-elevation-shadow-level-20, none)
}

.mat-elevation-z21,
.mat-mdc-elevation-specific.mat-elevation-z21 {
    box-shadow: var(--mat-app-elevation-shadow-level-21, none)
}

.mat-elevation-z22,
.mat-mdc-elevation-specific.mat-elevation-z22 {
    box-shadow: var(--mat-app-elevation-shadow-level-22, none)
}

.mat-elevation-z23,
.mat-mdc-elevation-specific.mat-elevation-z23 {
    box-shadow: var(--mat-app-elevation-shadow-level-23, none)
}

.mat-elevation-z24,
.mat-mdc-elevation-specific.mat-elevation-z24 {
    box-shadow: var(--mat-app-elevation-shadow-level-24, none)
}







html {
    --mat-option-label-text-font: Roboto, sans-serif;
    --mat-option-label-text-line-height: 24px;
    --mat-option-label-text-size: 16px;
    --mat-option-label-text-tracking: 0.03125em;
    --mat-option-label-text-weight: 400
}

html {
    --mat-optgroup-label-text-font: Roboto, sans-serif;
    --mat-optgroup-label-text-line-height: 24px;
    --mat-optgroup-label-text-size: 16px;
    --mat-optgroup-label-text-tracking: 0.03125em;
    --mat-optgroup-label-text-weight: 400
}

























html {
    --mdc-elevated-card-container-shape: 4px
}

html {
    --mdc-outlined-card-container-shape: 4px;
    --mdc-outlined-card-outline-width: 1px
}





html {
    --mdc-linear-progress-active-indicator-height: 4px;
    --mdc-linear-progress-track-height: 4px;
    --mdc-linear-progress-track-shape: 0
}






html {
    --mdc-filled-text-field-active-indicator-height: 1px;
    --mdc-filled-text-field-focus-active-indicator-height: 2px;
    --mdc-filled-text-field-container-shape: 4px
}

html {
    --mdc-outlined-text-field-outline-width: 1px;
    --mdc-outlined-text-field-focus-outline-width: 2px;
    --mdc-outlined-text-field-container-shape: 4px
}



html {
    --mat-form-field-container-height: 56px;
    --mat-form-field-filled-label-display: block;
    --mat-form-field-container-vertical-padding: 16px;
    --mat-form-field-filled-with-label-container-padding-top: 24px;
    --mat-form-field-filled-with-label-container-padding-bottom: 8px
}





html {
    --mat-select-arrow-transform: translateY(-8px)
}


















































html {
    --mdc-dialog-container-shape: 4px
}



.mat-mdc-standard-chip {
    --mdc-chip-container-shape-radius: 16px;
    --mdc-chip-with-avatar-avatar-shape-radius: 14px;
    --mdc-chip-with-avatar-avatar-size: 28px;
    --mdc-chip-with-icon-icon-size: 18px;
    --mdc-chip-outline-width: 0;
    --mdc-chip-outline-color: transparent;
    --mdc-chip-disabled-outline-color: transparent;
    --mdc-chip-focus-outline-color: transparent;
    --mdc-chip-hover-state-layer-opacity: 0.04;
    --mdc-chip-with-avatar-disabled-avatar-opacity: 1;
    --mdc-chip-flat-selected-outline-width: 0;
    --mdc-chip-selected-hover-state-layer-opacity: 0.04;
    --mdc-chip-with-trailing-icon-disabled-trailing-icon-opacity: 1;
    --mdc-chip-with-icon-disabled-icon-opacity: 1
}

.mat-mdc-standard-chip {
    --mat-chip-disabled-container-opacity: 0.4;
    --mat-chip-trailing-action-opacity: 0.54;
    --mat-chip-trailing-action-focus-opacity: 1;
    --mat-chip-trailing-action-state-layer-color: transparent;
    --mat-chip-selected-trailing-action-state-layer-color: transparent;
    --mat-chip-trailing-action-hover-state-layer-opacity: 0;
    --mat-chip-trailing-action-focus-state-layer-opacity: 0
}


.mat-mdc-chip.mat-mdc-standard-chip {
    --mdc-chip-container-height: 32px
}

html {
    --mdc-switch-disabled-selected-icon-opacity: 0.38;
    --mdc-switch-disabled-track-opacity: 0.12;
    --mdc-switch-disabled-unselected-icon-opacity: 0.38;
    --mdc-switch-handle-height: 20px;
    --mdc-switch-handle-shape: 10px;
    --mdc-switch-handle-width: 20px;
    --mdc-switch-selected-icon-size: 18px;
    --mdc-switch-track-height: 14px;
    --mdc-switch-track-shape: 7px;
    --mdc-switch-track-width: 36px;
    --mdc-switch-unselected-icon-size: 18px;
    --mdc-switch-selected-focus-state-layer-opacity: 0.12;
    --mdc-switch-selected-hover-state-layer-opacity: 0.04;
    --mdc-switch-selected-pressed-state-layer-opacity: 0.1;
    --mdc-switch-unselected-focus-state-layer-opacity: 0.12;
    --mdc-switch-unselected-hover-state-layer-opacity: 0.04;
    --mdc-switch-unselected-pressed-state-layer-opacity: 0.1
}

html .mat-mdc-slide-toggle {
    --mat-switch-disabled-selected-handle-opacity: 0.38;
    --mat-switch-disabled-unselected-handle-opacity: 0.38;
    --mat-switch-unselected-handle-size: 20px;
    --mat-switch-selected-handle-size: 20px;
    --mat-switch-pressed-handle-size: 20px;
    --mat-switch-with-icon-handle-size: 20px;
    --mat-switch-selected-handle-horizontal-margin: 0;
    --mat-switch-selected-with-icon-handle-horizontal-margin: 0;
    --mat-switch-selected-pressed-handle-horizontal-margin: 0;
    --mat-switch-unselected-handle-horizontal-margin: 0;
    --mat-switch-unselected-with-icon-handle-horizontal-margin: 0;
    --mat-switch-unselected-pressed-handle-horizontal-margin: 0;
    --mat-switch-visible-track-opacity: 1;
    --mat-switch-hidden-track-opacity: 1;
    --mat-switch-visible-track-transition: transform 75ms 0ms cubic-bezier(0, 0, 0.2, 1);
    --mat-switch-hidden-track-transition: transform 75ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
    --mat-switch-track-outline-width: 1px;
    --mat-switch-track-outline-color: transparent;
    --mat-switch-selected-track-outline-width: 1px;
    --mat-switch-selected-track-outline-color: transparent;
    --mat-switch-disabled-unselected-track-outline-width: 1px;
    --mat-switch-disabled-unselected-track-outline-color: transparent
}

html {
    --mdc-switch-state-layer-size: 40px
}

html {
    --mdc-radio-disabled-selected-icon-opacity: 0.38;
    --mdc-radio-disabled-unselected-icon-opacity: 0.38;
    --mdc-radio-state-layer-size: 40px
}


html {
    --mdc-radio-state-layer-size: 40px
}

html {
    --mat-radio-touch-target-display: block
}



html {
    --mdc-slider-active-track-height: 6px;
    --mdc-slider-active-track-shape: 9999px;
    --mdc-slider-handle-height: 20px;
    --mdc-slider-handle-shape: 50%;
    --mdc-slider-handle-width: 20px;
    --mdc-slider-inactive-track-height: 4px;
    --mdc-slider-inactive-track-shape: 9999px;
    --mdc-slider-with-overlap-handle-outline-width: 1px;
    --mdc-slider-with-tick-marks-active-container-opacity: 0.6;
    --mdc-slider-with-tick-marks-container-shape: 50%;
    --mdc-slider-with-tick-marks-container-size: 2px;
    --mdc-slider-with-tick-marks-inactive-container-opacity: 0.6;
    --mdc-slider-handle-elevation: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
}

html {
    --mat-slider-value-indicator-width: auto;
    --mat-slider-value-indicator-height: 32px;
    --mat-slider-value-indicator-caret-display: block;
    --mat-slider-value-indicator-border-radius: 4px;
    --mat-slider-value-indicator-padding: 0 12px;
    --mat-slider-value-indicator-text-transform: none;
    --mat-slider-value-indicator-container-transform: translateX(-50%)
}



html {
    --mat-menu-container-shape: 4px;
    --mat-menu-divider-bottom-spacing: 0;
    --mat-menu-divider-top-spacing: 0;
    --mat-menu-item-spacing: 16px;
    --mat-menu-item-icon-size: 24px;
    --mat-menu-item-leading-spacing: 16px;
    --mat-menu-item-trailing-spacing: 16px;
    --mat-menu-item-with-icon-leading-spacing: 16px;
    --mat-menu-item-with-icon-trailing-spacing: 16px;
    --mat-menu-container-elevation-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)
}



html {
    --mdc-list-list-item-container-shape: 0;
    --mdc-list-list-item-leading-avatar-shape: 50%;
    --mdc-list-list-item-container-color: transparent;
    --mdc-list-list-item-selected-container-color: transparent;
    --mdc-list-list-item-leading-avatar-color: transparent;
    --mdc-list-list-item-leading-icon-size: 24px;
    --mdc-list-list-item-leading-avatar-size: 40px;
    --mdc-list-list-item-trailing-icon-size: 24px;
    --mdc-list-list-item-disabled-state-layer-color: transparent;
    --mdc-list-list-item-disabled-state-layer-opacity: 0;
    --mdc-list-list-item-disabled-label-text-opacity: 0.38;
    --mdc-list-list-item-disabled-leading-icon-opacity: 0.38;
    --mdc-list-list-item-disabled-trailing-icon-opacity: 0.38
}

html {
    --mat-list-active-indicator-color: transparent;
    --mat-list-active-indicator-shape: 4px
}


.mat-mdc-list-base .mdc-list-item--disabled .mdc-list-item__start,
.mat-mdc-list-base .mdc-list-item--disabled .mdc-list-item__content,
.mat-mdc-list-base .mdc-list-item--disabled .mdc-list-item__end {
    opacity: 1
}

html {
    --mdc-list-list-item-one-line-container-height: 48px;
    --mdc-list-list-item-two-line-container-height: 64px;
    --mdc-list-list-item-three-line-container-height: 88px
}

html {
    --mat-list-list-item-leading-icon-start-space: 16px;
    --mat-list-list-item-leading-icon-end-space: 32px
}

.mdc-list-item__start,
.mdc-list-item__end {
    --mdc-radio-state-layer-size: 40px
}

.mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-one-line,
.mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line,
.mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
    height: 56px
}

.mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-two-lines,
.mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-two-lines,
.mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-two-lines {
    height: 72px
}









html {
    --mat-paginator-container-size: 56px;
    --mat-paginator-form-field-container-height: 40px;
    --mat-paginator-form-field-container-vertical-padding: 8px;
    --mat-paginator-touch-target-display: block
}



html {
    --mdc-secondary-navigation-tab-container-height: 48px
}

html {
    --mdc-tab-indicator-active-indicator-height: 2px;
    --mdc-tab-indicator-active-indicator-shape: 0
}

html {
    --mat-tab-header-divider-color: transparent;
    --mat-tab-header-divider-height: 0
}


.mat-mdc-tab-header {
    --mdc-secondary-navigation-tab-container-height: 48px
}



html {
    --mdc-checkbox-disabled-selected-checkmark-color: #fff;
    --mdc-checkbox-selected-focus-state-layer-opacity: 0.16;
    --mdc-checkbox-selected-hover-state-layer-opacity: 0.04;
    --mdc-checkbox-selected-pressed-state-layer-opacity: 0.16;
    --mdc-checkbox-unselected-focus-state-layer-opacity: 0.16;
    --mdc-checkbox-unselected-hover-state-layer-opacity: 0.04;
    --mdc-checkbox-unselected-pressed-state-layer-opacity: 0.16
}



html {
    --mdc-checkbox-state-layer-size: 40px
}

html {
    --mat-checkbox-touch-target-display: block
}



html {
    --mdc-text-button-container-shape: 4px;
    --mdc-text-button-keep-touch-target: false
}

html {
    --mdc-filled-button-container-shape: 4px;
    --mdc-filled-button-keep-touch-target: false
}

html {
    --mdc-protected-button-container-shape: 4px;
    --mdc-protected-button-container-elevation-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --mdc-protected-button-disabled-container-elevation-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    --mdc-protected-button-focus-container-elevation-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    --mdc-protected-button-hover-container-elevation-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    --mdc-protected-button-pressed-container-elevation-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)
}

html {
    --mdc-outlined-button-keep-touch-target: false;
    --mdc-outlined-button-outline-width: 1px;
    --mdc-outlined-button-container-shape: 4px
}

html {
    --mat-text-button-horizontal-padding: 8px;
    --mat-text-button-with-icon-horizontal-padding: 8px;
    --mat-text-button-icon-spacing: 8px;
    --mat-text-button-icon-offset: 0
}

html {
    --mat-filled-button-horizontal-padding: 16px;
    --mat-filled-button-icon-spacing: 8px;
    --mat-filled-button-icon-offset: -4px
}

html {
    --mat-protected-button-horizontal-padding: 16px;
    --mat-protected-button-icon-spacing: 8px;
    --mat-protected-button-icon-offset: -4px
}

html {
    --mat-outlined-button-horizontal-padding: 15px;
    --mat-outlined-button-icon-spacing: 8px;
    --mat-outlined-button-icon-offset: -4px
}


html {
    --mdc-text-button-container-height: 36px
}

html {
    --mdc-filled-button-container-height: 36px
}

html {
    --mdc-protected-button-container-height: 36px
}

html {
    --mdc-outlined-button-container-height: 36px
}

html {
    --mat-text-button-touch-target-display: block
}

html {
    --mat-filled-button-touch-target-display: block
}

html {
    --mat-protected-button-touch-target-display: block
}

html {
    --mat-outlined-button-touch-target-display: block
}



html {
    --mdc-icon-button-icon-size: 24px
}

html {
    --mat-icon-button-touch-target-display: block
}

.mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 48px;
    width: var(--mdc-icon-button-state-layer-size);
    height: var(--mdc-icon-button-state-layer-size);
    padding: 12px
}

html {
    --mdc-fab-container-shape: 50%;
    --mdc-fab-container-elevation-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    --mdc-fab-focus-container-elevation-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    --mdc-fab-hover-container-elevation-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    --mdc-fab-pressed-container-elevation-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12)
}

html {
    --mdc-fab-small-container-shape: 50%;
    --mdc-fab-small-container-elevation-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    --mdc-fab-small-focus-container-elevation-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    --mdc-fab-small-hover-container-elevation-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    --mdc-fab-small-pressed-container-elevation-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12)
}

html {
    --mdc-extended-fab-container-height: 48px;
    --mdc-extended-fab-container-shape: 24px;
    --mdc-extended-fab-container-elevation-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    --mdc-extended-fab-focus-container-elevation-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    --mdc-extended-fab-hover-container-elevation-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    --mdc-extended-fab-pressed-container-elevation-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12)
}

html {
    --mat-fab-touch-target-display: block
}

html {
    --mat-fab-small-touch-target-display: block
}


html {
    --mdc-snackbar-container-shape: 4px
}

html {
    --mdc-snackbar-container-color: rgb(217.2, 217.2, 217.2);
    --mdc-snackbar-supporting-text-color: rgba(66, 66, 66, 0.87)
}

html {
    --mat-snack-bar-button-color: rgba(0, 0, 0, 0.87)
}



html {
    --mat-table-row-item-outline-width: 1px
}

html {
    --mat-table-header-container-height: 56px;
    --mat-table-footer-container-height: 52px;
    --mat-table-row-item-container-height: 52px
}



html {
    --mdc-circular-progress-active-indicator-width: 4px;
    --mdc-circular-progress-size: 48px
}


html {
    --mat-badge-container-shape: 50%;
    --mat-badge-container-size: unset;
    --mat-badge-small-size-container-size: unset;
    --mat-badge-large-size-container-size: unset;
    --mat-badge-legacy-container-size: 22px;
    --mat-badge-legacy-small-size-container-size: 16px;
    --mat-badge-legacy-large-size-container-size: 28px;
    --mat-badge-container-offset: -11px 0;
    --mat-badge-small-size-container-offset: -8px 0;
    --mat-badge-large-size-container-offset: -14px 0;
    --mat-badge-container-overlap-offset: -11px;
    --mat-badge-small-size-container-overlap-offset: -8px;
    --mat-badge-large-size-container-overlap-offset: -14px;
    --mat-badge-container-padding: 0;
    --mat-badge-small-size-container-padding: 0;
    --mat-badge-large-size-container-padding: 0
}



html {
    --mat-bottom-sheet-container-shape: 4px
}



html {
    --mat-legacy-button-toggle-height: 36px;
    --mat-legacy-button-toggle-shape: 2px;
    --mat-legacy-button-toggle-focus-state-layer-opacity: 1
}

html {
    --mat-standard-button-toggle-shape: 4px;
    --mat-standard-button-toggle-hover-state-layer-opacity: 0.04;
    --mat-standard-button-toggle-focus-state-layer-opacity: 0.12
}


html {
    --mat-standard-button-toggle-height: 48px
}



html {
    --mat-datepicker-calendar-container-shape: 4px;
    --mat-datepicker-calendar-container-touch-shape: 4px;
    --mat-datepicker-calendar-container-elevation-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    --mat-datepicker-calendar-container-touch-elevation-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12)
}


.mat-calendar-controls {
    --mat-icon-button-touch-target-display: none
}

.mat-calendar-controls .mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 40px;
    width: var(--mdc-icon-button-state-layer-size);
    height: var(--mdc-icon-button-state-layer-size);
    padding: 8px
}



html {
    --mat-divider-width: 1px
}

html {
    --mat-expansion-container-shape: 4px;
    --mat-expansion-legacy-header-indicator-display: inline-block;
    --mat-expansion-header-indicator-display: none
}

html {
    --mat-expansion-header-collapsed-state-height: 48px;
    --mat-expansion-header-expanded-state-height: 64px
}



html {
    --mat-grid-list-tile-header-primary-text-size: 14px;
    --mat-grid-list-tile-header-secondary-text-size: 12px;
    --mat-grid-list-tile-footer-primary-text-size: 14px;
    --mat-grid-list-tile-footer-secondary-text-size: 12px
}


html {
    --mat-sidenav-container-shape: 0;
    --mat-sidenav-container-elevation-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    --mat-sidenav-container-width: auto
}


html {
    --mat-stepper-header-height: 72px
}

html {
    --mat-sort-arrow-color: rgb(198.3, 198.3, 198.3)
}

html {
    --mat-toolbar-standard-height: 64px;
    --mat-toolbar-mobile-height: 56px
}



html {
    --mat-tree-node-min-height: 48px
}



html {
    --mat-timepicker-container-shape: 4px;
    --mat-timepicker-container-elevation-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)
}














